#about2 {
    position: relative;
    overflow: hidden;
    min-height: 600px}
#about2 .about2-right {
    display: inline-block}
#about2 .about2-right img {
  margin-left: 180px;
    padding-bottom: -0.5em;
    max-width: 470px}
#about2 .about2-left {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin-left: 10em}
#about2 .about2-left h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    position: relative;
    margin-bottom: 1em;
    color: #ec4357;}
  #about2 .about2-left h1::after {
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 40px;
    height: 4px;
    content: "";
    border-radius: 5px;
    background: #241b57;
    opacity: 0.2;}
#about2 .about2-left p {
    font-size: 1.125em;
    line-height: 1.75em;
}
  
#about2 .about2-left a.cta2 {
    position: relative;
    font-weight: 600;
    z-index: 99;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 2em 0 1em;
    padding: 1em;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    background: #241b57;
}
  
/* Adding-Responsiveness */
@media only screen and (max-width: 600px){
    #about2 {
        text-align: center !important;
        padding: 0 0.5em;
        margin-left: -160px;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
      }
    
      #about2 .about2-right img {
        display: none;
      }
    
      #about2 .about2-left {
        display: inline-block !important;
      }
    
      #about2 .about2-left h1 {
        font-size: 24px !important;
      }
    
      #about2 .about2-left h1::after {
        margin-left: 180px;
        margin-bottom: 10px;
      }
    
      #about2 .about2-left p {
        font-size: 16px !important;
      }
    
      #about2 .about2-left a {
        display: inline-block !important;
      }
}